// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
// $primary: #d41111;
// $primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
// $pinkish: #ff99aa;
// $pinkish: #E983D8;
$pinkish: #FF69B4;
$pinkish-invert: findColorInvert($pinkish);
$magenta: #FF5CFF;
$magenta-invert: findColorInvert($magenta);
$babyBlue: #7EC8E3;
$babyBlue-invert: findColorInvert($babyBlue);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($babyBlue, $babyBlue-invert),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "pinkish": ($pinkish, $pinkish-invert),
    "magenta": ($magenta, $magenta-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
