<template>
  <div id="body">
    <!-- <Layout> -->
    <div id="home" class="container">
      <section class="section">
        <div class="columns">
          <!-- Home -->
          <div id="main" class="column">
            <div id="top" class="has-text-centered">
              <h1 class="title has-text-primary is-marginless">
                <q
                  >Laziness is the mother of all bad habits. But ultimately she
                  is a mother and we should respect her</q
                >
                - Shikamaru Nara
              </h1>
              <div>
                <img
                  alt="naruto image"
                  width="200px"
                  src="../static/naruto.png"
                />
              </div>
              <div>
                <marquee class="has-text-primary"
                  >emosewa er'uoy siht daer nac uoy fi</marquee
                >
              </div>
            </div>

            <!-- Github Trending -->
            <GithubTrending keep-alive />
          </div>

          <!-- Tweets -->
          <div class="column is-5-tablet is-4-desktop">
            <!-- <Tweet
              id="1005810974241067008"
              :options="{ theme: 'dark', align: 'center' }"
            >
            </Tweet> -->
            <Tweet
              id="1182672851532423172"
              :options="{
                theme: 'dark',
                conversation: 'none',
                align: 'center'
              }"
            ></Tweet>
            <Tweet
              id="1172329470390239241"
              :options="{ theme: 'dark', align: 'center' }"
            ></Tweet>
            <Tweet
              id="1118170968055218176"
              :options="{ theme: 'dark', align: 'center' }"
            ></Tweet>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { Tweet } from 'vue-tweet-embed'

export default {
  name: 'Index',
  layout: 'main',
  components: {
    GithubTrending: () => import('../components/GithubTrending'),
    Tweet
  },
  head() {
    return {
      title: '</Home>',
      meta: [
        {
          hid: 'og-title',
          property: 'og:title',
          name: 'home',
          content: '</Home> - Yapie Rosyadie'
        },
        {
          hid: 'og-type',
          property: 'og:type',
          content: 'website'
        }
      ]
    }
  }
}
</script>

<style scoped>
#home {
  min-height: 100vh;
}
#main {
  padding-top: 10%;
}
#top {
  padding-bottom: 20px;
}
</style>
